.simple-squares {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(var(--border-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--border-color) 1px, transparent 1px);
  background-size: var(--square-size) var(--square-size);
  background-position: 0 0;
  opacity: 0.1;
  pointer-events: none;
  animation: simple-squares-scroll var(--animation-duration, 20s) linear infinite;
}

.simple-squares--diagonal {
  animation-name: simple-squares-diagonal;
}

.simple-squares--right {
  animation-name: simple-squares-right;
}

.simple-squares--left {
  animation-name: simple-squares-left;
}

.simple-squares--up {
  animation-name: simple-squares-up;
}

.simple-squares--down {
  animation-name: simple-squares-down;
}

@keyframes simple-squares-diagonal {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: var(--square-size) var(--square-size);
  }
}

@keyframes simple-squares-right {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: var(--square-size) 0;
  }
}

@keyframes simple-squares-left {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(-1 * var(--square-size)) 0;
  }
}

@keyframes simple-squares-up {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 calc(-1 * var(--square-size));
  }
}

@keyframes simple-squares-down {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 var(--square-size);
  }
}
