@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
}

.projects-menu-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .projects-menu-container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .projects-menu-container {
    width: 95%;
  }
}

.projects-menu-wrapper {
  background-color: transparent;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.projects-menu-wrapper:hover {
  background-color: rgba(10, 10, 10, 0.9);
}
